@import '../node_modules/semantic-ui-css/components/step.min.css';
@import '../node_modules/semantic-ui-css/components/progress.min.css';
@import '../node_modules/semantic-ui-css/components/table.min.css';

$pimary-color: #4C98CA;

html, body{
	width: 100%;
	height: 100vh;
}

#steps{

}
#fileInput{

}

#dropzone{
	width: 100%;
	height: 50vh;
	border: 3px;
	border-style: dotted;
	cursor: pointer;
	div{
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

#progressBar{
	background-color: $pimary-color;
}
